html, body {
    height:100%;
    padding: 0, margin: 0;	
}

.header{
	background: url("../img/bg.jpg");
	background-position: center center;
	background-repeat: repeat;
	background-size:cover;
	height: 100%;
	width: 100%;
	position: relative;
}

.name{ 
	padding-top: 10%;
	color: white; 
}

.block{
	height: 100%;
	width: 100%;
	position: relative;
}

.my-container{
	padding-top: 5%;
}

.line{
	color: grey;
	width: 100%;
	height: 5px;
	background-color: grey;
	position: relative;
}